*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: 1s;
    color: #000;
}

body.active{
    background-color: #000;
    transition: 1s;
    color: #fff;
}

.container h3{
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

.themeToggler{
    background-color: #c2d6d6;
    width: 110px;
    height: 25px;
    border-radius: 15px;
    position: relative;
    margin-top: 20px;
}

.toggler{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 120%;
    border-radius: 50%;
    top: -3px;
    border: 1px solid #c2d6d6;
    transition: 1s;
    left: 0;
}

.themeToggler.active .toggler{
    left: 75%;
    transition: 2s;
}